*{text-align: center;}

form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

input, select, button{
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid #CCC;
    border-radius: 0.5em;
}

table{
    margin: 0 auto;
    width: 52.8%;
    margin-top: 20px;
}

th, td{
    padding: 0.5em;
    border: 1px solid #CCC;
    text-align: center;
}

